<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874915463126-vb9g928g5l9k0lfkul6s5knfgccjk8kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874915463126-vb9g928g5l9k0lfkul6s5knfgccjk8kq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOFVpx1CKkNkoF76mEV2vbOr0EpWNC0jM</string>
	<key>GCM_SENDER_ID</key>
	<string>874915463126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Baran.PhotoShareApp</string>
	<key>PROJECT_ID</key>
	<string>photoshareapp-2bd53</string>
	<key>STORAGE_BUCKET</key>
	<string>photoshareapp-2bd53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874915463126:ios:2b8c6e8a14fa3a159f6e77</string>
</dict>
</plist>